@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(6px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.animate-login-card {
    animation: fadeSlideIn 0.9s ease-out forwards;
}